.header {
  background-color: #fff;
}
.header .am-card {
  color: #fff;
  position: relative;
  height: 254px;
}
.header .am-card .am-card-body {
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: url('../../assets/images/home.png') no-repeat;
  background-size: contain;
}
.header .am-card .am-card-body::before {
  content: '';
  background: url('../../assets/images/arrow.png');
}
.header .am-card .am-card-footer {
  padding: 0;
  color: #fff;
  position: absolute;
  left: 18px;
  top: 200px;
  font-size: 13px;
  line-height: 18px;
}
.header .am-card .am-card-footer .am-card-footer-content {
  width: 100px;
}
.header .am-card .am-card-footer .am-card-footer-extra {
  text-align: left;
}
