.OCR {
  width: 100%;
  height: 100%;
  background-color: #FBFBFB;
}
.OCR .header {
  width: 100%;
  height: 34.5px;
  padding-top: 29.5px;
}
.OCR .header .title {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
.OCR .header img {
  margin-left: 11.5px;
  margin-right: 128.5px;
  display: inline-block;
  width: 10px;
  height: 17px;
}
.OCR .push {
  box-sizing: border-box;
  background: #fff;
  padding: 41.5px 41px 42px 42.5px;
}
.OCR .push img {
  box-shadow: 3px 3px 5px #ccc;
  width: 291.5px;
  height: 159.5px;
}
